# App
PORT=3000

# DB (MySQL)
DB_HOST=db
DB_PORT=3306
DB_NAME=lab1
DB_USER=labuser
DB_PASSWORD=labpass

# Bootstrap MySQL (solo para inicialización del contenedor)
MYSQL_ROOT_PASSWORD=rootpass
MYSQL_DATABASE=lab1
MYSQL_USER=labuser
MYSQL_PASSWORD=labpass
